@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
    background-color: #acacac;
}

.body { 
    overflow: hidden;
}

.header {
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
}
.row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.playGround {
    position: relative;
    display: block;
    height: 500px;
    width: 700px;
    background-color: rgb(233, 235, 225);
    border: 1px solid blue;
    margin: 30px auto;
    border-radius: 10px;
}

.gameIntro {
    
    position: relative;
    display: inline-block;
    height: 500px; 
    width: 700px;
    background-color: white;
    border-radius: 10px;
    padding:25px;
    background-image: url('/assets/images/europe4.jpg');
}

.gameIntro h1 {
    position: relative;
    color:honeydew;
    margin: 50px auto;
    text-align: center;
}

.gameIntro .btnStart1 {
    position: relative;
    width: 32%;
    height: 12%;
    border: 1px solid rgb(255, 174, 0);
    border-radius: 5px;
    font-size:x-large;
    color: rgb(248, 66, 34); 
    background-color: rgb(248, 248, 238);
    margin-left: 33%;
    margin-top: 100px;
   }

   .gameIntro .btnStart1:hover {
       background-color: rgb(245, 234, 209);
   }

   .question {
       padding: 10px;
       margin-top: 20px;
       background-color: rgb(63, 100, 20);
       color:#fbfbfb;
       text-align: center;
   }
   .ulOption {
    list-style: none;
    padding: 0%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.option {
    width: 45%;
    min-height: 70px;
    border-radius: 5px;
    background-color: rgb(255, 187, 0);
    padding:10px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 10px;  
}

li:hover {
    background-color: rgb(199, 149, 75);
    transition: 0.5s;
    cursor: pointer;
}

.rightAnswer {
    background-color: green;
}

#qpanel {
    float: left;
    margin-left: 20px;
    color: rgba(28, 74, 226, 0.945);
    font-weight: bold;
}

#spanel {
    float: right;
    margin-right: 20px;
    color: rgba(28, 74, 226, 0.945);
    font-weight: bold;    
}

#hresult {
    margin-top: 10%;
}

#btnNext {
    color: rgba(249, 253, 6, 0.959);
    background-color: rgb(122, 184, 51);
    border: none;
    border-radius: 2px;
    position: absolute;
    right: 30px;
    bottom: 10px;
    min-width: 100px;
    min-height: 40px;
    font-weight:500;
}

#hresult {
    font-size: 2.5em;
    color: blue;
    text-align: center;
}