@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
    background-color: #fafaf4;
    overflow: auto;
    min-height: 100%;
    color: rgb(66, 68, 71) !important;
}

p {
    font-weight: 400;
    font-size: 16px;
}
.header {
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
}
.row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.btn-primary {
    background-color: #249afa;
}

#welcome {
    background-color: #e4e7ed;
    text-align: center;
}

/*------- Home page styling  -----*/

.car-link {
    background-color: #249afa;
    font-size: 1.3em;
    color: rgb(255, 247, 133);
    padding: 8px 12px;
    border-radius: 8px;
}

.jumbotron h1 {
    text-align: center;
    font-weight: 700;
}

.jumbotron p {
    text-align: center;
}

.social {
    font-size: 2.5rem;
    display: block;
}

.social a {
    padding-left: 30px;
    padding-right: 30px;
}

.social .fab {
    color: rgb(223, 222, 166);
}

#countryList {
    display: block;
    margin-left: 5px;
    margin-bottom: 20px;
}

#countryData {
    padding-top: 10px;
   /* box-shadow: 0 5px 7px 0 rgba(0, 0.1, 0, 0.18), 0 6px 20px 0 rgba(0, 0.1, 0, 0.21); */
    position: relative;
    display: block;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 5px;
  }
  
td, th {
    border: 1px solid #c0bcbc;
    text-align: left;
    padding: 10px;
  }
  
tr:nth-child(even) {
    background-color: #e9e1e1;
  }


footer {
    background-color: rgb(99, 99, 99);
}

footer h3, h5 {
    padding-top: 10px;
    color: rgba(248, 248, 239, 0.979);
}

#about p {
    text-align: left;
}

#about_img img {
    display: block;
    margin: 0 auto;
}

.right {
    position: relative;
    top: 0px;
    bottom: 0px;

}

/*--------- Quiz page styling ------*/
.playGround {
    position: relative;
    display: block;
    height: 50%;
    width: 50%;
    background-color: rgb(225, 238, 215);
    border: 1px solid blue;
    margin: 120px auto;
    border-radius: 10px;
    padding-left: 0;
    padding-right: 0;
}

.gameIntro {
    position: relative;
    display: inline-block;
    height: 100%; 
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding:25px;
    background-image: url('../images/europe4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.gameIntro h1 {
    position: static;
    color:honeydew;
    margin-top: 20%;
    margin-bottom: 20%;
    text-align: center;
}

.gameIntro .btnStart1 {
    position: static;
    width: auto !important;
    height: 40px;
    border: 1px solid #4290f5;
    border-radius: 5px;
    font-size:1.2em !important;
    color: white; 
    background-color: #4260f5;
    display: block;
    margin: 0 auto;
   }

.gameIntro .btnStart1:hover {
    background-color: rgb(245, 234, 209);
   }

.question {
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(63, 100, 20);
    color:#fbfbfb;
    text-align: center;
   }

   .ulOption {
	    list-style: none;
    	padding: 0%;
    	margin-top: 30px;
    	display: flex;
    	justify-content: space-between;
    	flex-wrap: wrap;
}

.option {
    width: 45%;
    border-radius: 5px;
    background-color: rgb(255, 187, 0);
    padding:10px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 10px;  
}

.rightAnswer {
    background-color: green;
}

#qpanel {
    float: left;
    margin-left: 20px;
    color: rgba(158, 67, 14, 0.945);
    font-weight: bold;
}

#spanel {
    float: right;
    margin-right: 20px;
    color: rgba(158, 67, 14, 0.945);
    font-weight: bold;    
}

#qcount {
    color:blue;
 }

#score {
    color:red;
 }

#hresult {
    margin-top: 2%;
}

#btnNext {
    color: rgba(249, 253, 6, 0.959);
    background-color: rgb(122, 184, 51);
    border: none;
    border-radius: 2px;
    position: absolute;
    right: 30px;
    bottom: 10px;
    min-width: 100px;
    min-height: 30px;
    font-weight:500;
    display: block;
    margin: 0 auto;
}

#hresult {
    color: blue;
    text-align: center;
}

#btnReplay {
    min-width: 25%;
    min-height: 25%;
    background-color: orange;
    color: red;
    font-size: 1.3em;
    display: block;
    margin: 10px auto;
    border: 1px solid orange;
    border-radius: 5px;
}

button:focus {
   outline: none !important;
}

.instruction {
    width: 60%;
    height: auto;
    display: block;
    margin : 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fdfdfd;
    border-radius: 10px;
}

.instruction h3, p {
    text-align: left;
}

/* Contact page styling ------ */

#contact-jumbo {
    margin-top: 60px;
    text-align: center;
}

#contFooter {
   margin-top: 200px;
}

.contTxt {
   background-color: lightyellow;
}

/* Extra Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
h2 {
    font-size: medium;
    }

p {
    font-size: small !important;
    }

.carousel {
    display: none;
    }

.pageDiv {
    width: 100%;
    height: auto;
    }

div .container {
    padding: 0;
    }

div .col-lg-12 {
    padding: 0;
    }

.jumbotron {
    margin-top: 40px;
    }
    
.jumbotron h1 {
    margin-top: 40px;
    font-size: large;
    }

.playGround {
    width: 100%;
    height: auto;
    margin-top: 100px;
    }

.gameIntro .btnStart1 {
    display: block;
    width: 50%;
    font-size: 0.8em;
    font-weight: bold;
    margin: 0 auto;
    }

.playGround .quizContainer  {
    height: auto;
        width: 100%;
    }

.ulOption {
    padding-bottom: 10px;
    }

.option {
    width: 90%;
    height: auto;
    display: block;
    margin-top: 10px;
    }

.scorePanel {
    display: grid;
    font-size: small;
    }

.next {
    margin-top: 20%;
}

.btnNext {
    display: flex;
}

#hresult {
    margin-top: 20px;
    display: block;
}

#sresult {
    font-size: small;
}

#countryData {
    padding-top: 10px;
    box-shadow: none;
    padding-left: 1px;
    }

#countryList {
    width: 100%;
    margin-left: 5px;
}

#countryHead {
    font-size: 1.2em;
    }

table {
    font-size: 15px;
    margin-left: 3px; 
    }

footer h3 {
    font-size: small;
    }

footer .social {
    font-size: large;
    display: flex;
    justify-content: center;
    }

footer .social a {
    padding-left: 25px;
    padding-right: 25px;
    }

#about_img img {
    width: 50%;
    }

#contact-jumbo {
    margin-top: 50px;
    text-align: center;
    }

#contact-jumbo h4 {
    margin-top: 20%;
    font-size: larger;
    }

.instruction {
    width: 100%;
    }

.right img {
    width: 100%;
    margin: 20px 1px;
    }

.left {
    float: left;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 5px;
    }
        
.right {
    float: left;
    width: 100%;
    padding-left: 2px;
    padding-right: 3px;
    margin-top: 7px;
    }

#map {
    min-height: 360px;
}
}
    
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) {

h1 {
    font-size: large
}

h2 {
    font-size: medium;
    }

p {
    font-size: large !important;
    }

.carousel {
    display: none;
    }

.pageDiv {
    width: 100%;
    height: auto;
    }

div .container {
    padding: 0;
    }

div .col-lg-12 {
    padding: 0;
    }

.jumbotron {
    margin-top: 40px;
    }

.jumbotron h1 {
    margin-top: 40px;
    }

.playGround {
    width: 100%;
	height: auto;
    margin-top: 100px;
    }

.gameIntro .btnStart1 {
	display: block;
	width: 50%;
	font-size: 0.8em;
	font-weight: bold;
	margin: 0 auto;
    }

.playGround .quizContainer  {
    height: auto;
  	width: 100%;
    }

.ulOption {
	padding-bottom: 10px;
    }

.option {
    width: 90%;
	height: auto;
	display: block;
	margin-top: 10px;
    }

.scorePanel {
	display: grid;
	font-size: small;
    }

.next {
	margin-top: 20%;
}

.btnNext {
	display: flex;
}

#hresult {
    margin-top: 20px;
    display: block;
}

#sresult {
    font-size: large;
}

#countryData {
    padding-top: 10px;
    box-shadow: none;
    padding-left: 1px;
  }

#countryList {
    width: 100%;
    margin-left: 5px;
}

#countryHead {
    font-size: 1.2em;
    }

table {
    font-size: 15px;
    margin-left: 3px; 
  }

footer h3 {
    font-size: small;
  }

footer .social {
    font-size: large;
    display: flex;
    justify-content: center;
    }

footer .social a {
    padding-left: 25px;
    padding-right: 25px;
    }

#about_img img {
    width: 50%;
    }

#contact-jumbo {
    margin-top: 50px;
    text-align: center;
    }

#contact-jumbo h4 {
    margin-top: 20%;
    font-size: larger;
    }

.instruction {
    width: 100%;
    }

.right img {
    width: 100%;
    margin: 20px 10px;
    }

.left {
    float: left;
    width: 100%;
    padding: 0 20px;
    }
      
.right {
    float: left;
    width: 100%;
    padding-left: 10px;
    padding-right: 25px;
    margin-top: 7px;
    }

#map {
    min-height: 360px;
}
}

/* Small phones */
@media only screen and (min-width: 481px) {
h2 {
    font-size: medium;
    }

p {
    font-size: large !important;
    }

.carousel {
    display: none;
    }

.pageDiv {
    width: 100%;
    height: auto;
    }

div .container {
    padding: 0;
    }

div .col-lg-12 {
    padding: 0;
    }

.jumbotron {
    margin-top: 40px;
    }

.jumbotron h1 {
    margin-top: 40px;
    font-size: large;
    }

.playGround {
    width: 100%;
    height: auto;
    margin-top: 100px;
    }

.gameIntro .btnStart1 {
    display: block;
    width: 50%;
    font-size: 0.8em;
    font-weight: bold;
    margin: 0 auto;
    }

.playGround .quizContainer  {
    height: auto;
        width: 100%;
    }

.ulOption {
    padding-bottom: 10px;
    }

.option {
    width: 90%;
    height: auto;
    display: block;
    margin-top: 10px;
    }

.scorePanel {
    display: grid;
    font-size: small;
    }

.next {
    margin-top: 20%;
}

.btnNext {
    display: flex;
}

#hresult {
    margin-top: 20px;
    display: block;
}

#sresult {
    font-size: large;
}

#countryData {
    padding-top: 10px;
    box-shadow: none;
    padding-left: 1px;
    }

#countryList {
    width: 100%;
    margin-left: 5px;
}

#countryHead {
    font-size: 1.2em;
    }

table {
    font-size: 15px;
    margin-left: 3px; 
    }

footer h3 {
    font-size: small;
    }

footer .social {
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    }

footer .social a {
    padding-left: 25px;
    padding-right: 25px;
    }

#about_img img {
    width: 50%;
    }

#contact-jumbo {
    margin-top: 50px;
    text-align: center;
    }

#contact-jumbo h4 {
    margin-top: 20%;
    font-size: larger;
    }

.instruction {
    width: 100%;
    }
        
.right img {
    width: 100%;
    margin: 20px 10px;
    }

.left {
    float: left;
    width: 100%;
    padding: 0 20px;
    }
        
.right {
    float: left;
    width: 100%;
    padding-left: 10px;
    padding-right: 25px;
    margin-top: 7px;
    }

#map {
    min-height: 360px;
}
}

/* Big phones */
@media only screen and (min-width: 641px) {

h1 {
    font-size: x-large !important;
}
h2 {
    font-size: medium;
    }

p {
    font-size: large !important;
    }

.carousel {
    display: none;
    }

.pageDiv {
    width: 100%;
    height: auto;
    }

div .container {
    padding: 0;
    }

div .col-lg-12 {
    padding: 0;
    }
    
.jumbotron {
    margin-top: 40px;
    }
    
.jumbotron h1 {
    margin-top: 40px;
    }
    
.playGround {
    width: 100%;
    height: auto;
    margin-top: 100px;
    }

.gameIntro .btnStart1 {
    display: block;
    width: 50%;
    font-size: 0.8em;
    font-weight: bold;
    margin: 0 auto;
    }
    
.playGround .quizContainer  {
    height: auto;
        width: 100%;
    }

.ulOption {
    padding-bottom: 10px;
    }

.option {
    width: 90%;
    height: auto;
    display: block;
    margin-top: 10px;
    }

.scorePanel {
    display: grid;
    font-size: small;
    }

.next {
    margin-top: 20%;
}

.btnNext {
    display: flex;
}

#hresult {
    margin-top: 20px;
    display: block;
}

#sresult {
    font-size: larger;
}

#countryData {
    padding-top: 10px;
    box-shadow: none;
    padding-left: 1px;
    }

#countryList {
    width: 100%;
    margin-left: 5px;
}

#countryHead {
    font-size: 1.2em;
    }

table {
    font-size: 15px;
    margin-left: 3px; 
    }

footer h3 {
    font-size: large;
    }

footer .social {
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    }

footer .social a {
    padding-left: 25px;
    padding-right: 25px;
    }

#about_img img {
    width: 50%;
    }

#contact-jumbo {
    margin-top: 50px;
    text-align: center;
    }

#contact-jumbo h4 {
    margin-top: 20%;
    font-size: larger;
    }

.instruction {
    width: 100%;
    }

.right img {
    width: 100%;
    margin: 20px 10px;
    }

.left {
    float: left;
    width: 100%;
    padding: 0 20px;
    }
        
.right {
    float: left;
    width: 100%;
    padding-left: 10px;
    padding-right: 25px;
    margin-top: 7px;
    }

#map {
    min-height: 360px;
}
}
    
/* Portrait tablets  */
@media only screen and (min-width: 961px) {
h2 {
    font-size: medium;
    }

p {
    font-size: large !important;
    }

.carousel {
    display: none;
    }
 
.pageDiv {
    width: 100%;
    height: auto;
    }
   
div .container {
    padding: 0;
    }

div .col-lg-12 {
    padding: 0;
    }

.jumbotron h1 {
    margin-top: 40px;
    font-size: 1.3em;
    }

.playGround {
	width: 100%;
	height: auto;
    margin-top: 100px;
	padding-bottom: 10px;
    }

.gameIntro .btnStart1 {
   	width: 50%;
	font-size: 0.8em;
	font-weight: bold;
	margin: 0 auto;
    }

.playGround .quizContainer {
	height: auto;
  	width: 100%;
    }

.ulOption {
	padding-bottom: 10px;
    }

.option {
    width: 90%;
    height: auto;
    display: block;
	margin-top: 10px;
    }

.scorePanel {
	display: grid;
	font-size: small;
    }

.next {
	margin-top: 20%;
}

.btnNext {
	display: flex;
    }

#hresult {
    margin-top: 20px;
    display: block;
}

#sresult {
    font-size: 1.2em;
}


#countryData {
    padding-top: 10px;
    box-shadow: none;
    padding-left: 1px;
  }

#countryList {
    width: 100%;
    margin-left: 5px;
}

#countryHead {
    font-size: 1.2em;
    }

table {
    margin-left: 2px;
    }
footer h3 {
    font-size: large;
    }

footer .social {
    font-size: 2em;
    display: flex;
}

footer .social a {
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
}

#about_img img {
    width: 50%;
}

#contact-jumbo {
    margin-top: 50px;
    text-align: center;
    font-size: large;
}

#contact-jumbo h4 {
    margin-top: 20%;
    font-size: large;
}

.instruction {
    width: 100%;
    }
       
.right img {
    width: 100%;
    margin: 20px 10px;
    }

.left {
    float: left;
    width: 100%;
    padding: 0 20px;
    }
          
.right {
    float: left;
    width: 100%;
    padding-left: 10px;
    padding-right: 25px;
    margin-top: 7px;
    }

#map {
    min-height: 360px;
}
}

  
/* desktops */
@media only screen and (min-width: 1025px) {

h1 {
    font-size: 2.5em !important;
    }

h2 {
    font-size: 1.3em;
        }
    
p {
    font-size: large !important;
    }

.carousel {
    display: block;
    }

.carousel .carousel-item img {
    width:100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    }

.pageDiv {
    width: 90%;
    height: auto;
    }

.jumbotron h1 {
    margin-top: 40px;
    }
    
.playGround {
    width: 95%;
    height: 50%;
	padding: 0;
    }

.option {
    width: 45%;
	height: 60px;
    }

.scorePanel {
	display: grid;
	font-size: large;
    }

#hresult {
    margin-top: 20px;
    display: block;
    }

#sresult {
        font-size: 1.5em;
    }
    
          
.right img {
    width: 100%;
    margin: 0px 10px 20px 10px;
    }

.left {
    float: left;
    width: 50%;
    padding: 0 20px;
    }
            
.right {
    float: left;
    width: 50%;
    padding: 0 20px;
    margin-top: 7px;
    }

#map {
    height: 530px;
}

footer h3 {
    font-size: larger;
}

footer .social {
    font-size: 2.5em;
    display: flex;
}

footer .social a {
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
}

.instruction {
    width: 50%;
    }
} 
  
/* Xtra Large devices desktops */
@media only screen and (min-width: 1281px) {

h1 {
    font-size: 2.5em !important;
    }
    
h2 {
    font-size:1.3em
    }
    
p {
    font-size: large !important;
    }

.carousel {
    display: block;
    }
    
header {
	width: 100%;
  }

.pageDiv {
    width: 100%;
    height: auto;
    }

.playGround {
    width: 50%;
    height: 50%;
    padding: 0;
    }

.jumbotron h1 {
    margin-top: 40px;
    }

.option {
    width: 45%;
	height: 60px;
    }

.scorePanel {
	display: grid;
	font-size: large;
    }

#hresult {
    margin-top: 20px;
    display: block;
}

#sresult {
    font-size: 1.5em;
}

.option:hover {
    background-color: rgb(199, 149, 75) !important;
    transition: 0.5s; 
    cursor: pointer;
  }

div#map {
    min-height: 360px;
    /* box-shadow: 0 5px 7px 0 rgba(0, 0.1, 0, 0.18), 0 6px 20px 0 rgba(0, 0.1, 0, 0.21);*/
    }

.right img {
    width: 100%;
    margin: 0px 10px 20px 10px;
    }

.left {
    float: left;
    width: 50%;
    padding: 0 20px;
    }
            
.right {
    float: left;
    width: 50%;
    padding: 0px 20px;
    margin-top: 7px;
    }

#map {
    height: 530px;
}

footer h3 {
    font-size: larger;
}

footer .social {
    font-size: 2.5em;
    display: flex;
}

footer .social a {
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
}

.instruction {
    width: 50%;
    }
}
